/*
    Project CSS Structure

        1. Size
        2. Display
        3. Position
        4. Spacing
        5. Alignment
        6. Background
        7. Border
        8. Shadow
        9. Font

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,700&family=Open+Sans:ital,wght@0,300;0,500;1,700&display=swap');

:root {
    --light-blue: #8ECAE6;
    --soft-blue: #219EBC;
    --deep-blue: #023047;
    --light-yellow: #FFB703;
    --light-yellow-transparent: #FFB70330;
    --deep-yellow: #FB8500;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--deep-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6rem;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
}
.main {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--light-blue);
}
.footer {
    width: 100%;
    background-color: var(--soft-blue);
    padding: 0 20px;
}
.footer .text__content {
    font-weight: 700;
    color: var(--deep-blue);
}
.text-container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.text__title {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.8rem;
    font-weight: 700;
}
.text__content {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: justify;
}
.text__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    list-style: none;
    margin: 0 5px;
}
.nav__item {
    margin-right: 5px;
}
.nav__item .link{
    font-size: 1.1rem;
    margin: 0;
}
.selected {
    font-weight: 700;
    color: var(--light-yellow);
}
.link {
    margin-right: 15px;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 300;
    color: var(--soft-blue);
    cursor: pointer;
}
.link:active {
    color: var(--deep-yellow);
}
.link:hover{
    font-weight: 700;
}
.icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}