html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 110px;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}
header .container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
header .central-text-logo {
    width: 176px;
    margin-bottom: 10px;
}
header .central-text-slogan {
    font-family: Linux Libertine, Georgia, serif;
    font-size: 1.5rem;
    width: 176px;
    text-align: center;
}
main {
    margin-top: 30px;
    text-align: center;
}
main .main-languages-container {
    width: 546px;
    height: 325px;
    margin: 0 auto;
}
main .main-languages-container-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px auto 25px auto;
}
main .container-left {
    width: 126px;
    align-self: flex-start;
}
main .container-right {
    width: 126px;
    align-self: flex-end;
}
main .row-1-5 {
    width: 75%;
}
main .row-2-4 {
    width: 95%;
}
main .row-3 {
    width: 100%;
}
main .main-languages-links a{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
main .main-languages-links a strong{
    color: #3366cc;
    margin-bottom: 5px;
}
main .main-languages-links a small {
    color: #54595d;
}
main .main-logo {
    height: 0px;
    align-items: center;
}
main .main-logo img {
    width: 200px;
    height: auto;
    position: relative;
    top: calc(50% + 60px);
}
main .search-box {
    width: 100%;
    height: 44px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
main .search-box-container {
    display: flex;
    border: 1px solid #a2a9b1;
}
main .search-box-container input {
    width: 350px;
    height: 100%;
    border: none;
    background: none;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
main .search-box-container .hide-arrow {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #5a5d60;
}
main .hide-arrow select {
    height: 100%;
    font-size: 0;
    border: none;
    color: #5a5d60;
}
main .search-box button {
    background-color: #3366cc;
    width: 56px;
    border: none;
}